.custom-directory-page {
   .user-info .user-detail {
    .name {
      margin-left: 0;
    }
    .username{
      color:$primary-medium;

    }
    .name,
    {
      color: $primary-high;
      font-weight: 600;
    }

    &:hover {
      .name,
      .title {
        color: $primary-very-high;
      }
    }
  }

  .directory tbody td {
    color: $primary-very-high;
    width:25%;
  }

  .header {
    margin-bottom: 33px;

    h1 {
      font-size: 2.2em;
    }
  }
  .choices{
    .choice{
      margin:0px 0px 0px 0px!important;
      height:20px!important;              
    }
  }
  .select-kit{
  width: 400px!important;
  }
}
